<drawer-component class="Drawer Drawer--Right PageContent" data-drawer="cart">
  <ul class="u-NoList">
    <li>
      <a class="Link" href="/">
        <p class="Text">Home</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/components">
        <p class="Text">Components</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/flags">
        <p class="Text">Flags</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/chess-board">
        <p class="Text">Chessboard</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/id-cards">
        <p class="Text">ID Cards</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/grid-boxes">
        <p class="Text">Grid Boxes</p>
      </a>
    </li>
  </ul>

  <div class="Drawer__Close">
    <button-component class="Button--Icon" data-action="close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button-component>
  </div>
</drawer-component>

<drawer-component class="Drawer Drawer--Left PageContent" data-drawer="menu">
  <ul class="u-NoList">
    <li>
      <a class="Link" href="/">
        <p class="Text">Home</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/components">
        <p class="Text">Components</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/flags">
        <p class="Text">Flags</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/chess-board">
        <p class="Text">Chessboard</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/id-cards">
        <p class="Text">ID Cards</p>
      </a>
    </li>
    <li>
      <a class="Link" href="/grid-boxes">
        <p class="Text">Grid Boxes</p>
      </a>
    </li>
  </ul>
  <div class="Drawer__Close">
    <button-component class="Button--Icon" data-action="close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button-component>
  </div>
</drawer-component>
