<script src="/scripts/drawers.js" defer></script>

<script src="/components/component/component.js" type="module"></script>
<script src="/components/input/input.js" type="module"></script>
<script src="/components/backdrop/backdrop.js" type="module"></script>
<script src="/components/drawer/drawer.js" type="module"></script>
<script src="/components/button/button.js" type="module"></script>
<script src="/components/popup/popup.js" type="module"></script>
<script src="/components/accordion-js/accordion-js.js" type="module"></script>
<script
  src="/components/quantity-selector/quantity-selector.js"
  type="module"
></script>
<script src="/components/gallery/gallery.js" type="module"></script>
