<script src="/scripts/drawers.js" defer></script>
<script src="/scripts/input.js" defer></script>
<script src="/scripts/backdrop.js" defer></script>
<script src="/scripts/drawer.js" defer></script>
<script src="/scripts/button.js" type="module"></script>
<script src="/scripts/popup.js" defer></script>
<script src="/scripts/component.js" type="module"></script>
<script src="/scripts/quantity-selector.js" type="module"></script>
<script src="/scripts/gallery.js" type="module"></script>

<script src="/components/accordion-js/accordion-js.js" type="module"></script>
<script src="/components/input/input.js" type="module"></script>
