<header class="SiteHeader">
  <button class="Button--Icon u-HiddenDesktop" data-drawer-trigger="menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-menu-icon lucide-menu"
    >
      <path d="M4 12h16" />
      <path d="M4 18h16" />
      <path d="M4 6h16" />
    </svg>
  </button>

  <button class="Button--Icon u-HiddenDesktop" data-drawer-trigger="cart">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-shopping-cart-icon lucide-shopping-cart"
    >
      <circle cx="8" cy="21" r="1" />
      <circle cx="19" cy="21" r="1" />
      <path
        d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
      />
    </svg>
  </button>

  <nav class="NavigationBar">
    <ul class="u-NoList">
      <li><a class="Link" href="/">Home</a></li>
      <li><a class="Link" href="/calculator">Calculator</a></li>
      <li><a class="Link" href="/shop-the-look">Shop-the-look</a></li>
      <li>
        <a class="Link" href="/flags">Flags</a>
      </li>
      <li><a class="Link" href="/chess-board">Chessboard</a></li>
    </ul>
  </nav>
</header>
