{% doc %}
  Image

  @param {string} image - URL of the image
  @param {string} [variant] - Image variant (Portrait, Landscape, Square)
  @param {string} alt - Alt attribute for the image
{% enddoc %}

{% assign variant = variant | default: 'Landscape' %}

<div class="Image{% if variant %} Image--{{ variant }}{% endif %}">
  <img class="Image__Inner" src="{{ image }}" alt="{{ alt }}">
</div>
