<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <script src="/scripts/calculator.js" defer></script>
    <title>Calculator</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="Backdrop"></div>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section class="Section">
        <div class="CalculatorGrid">
          <div class="Output">
            <div data-previous-operand class="PreviousOperand"></div>
            <div data-current-operand class="CurrentOperand"></div>
          </div>
          <button data-all-clear class="GridItem GridItem--SpanTwo">AC</button>
          <button class="GridItem" data-delete>DEL</button>
          <button class="GridItem" data-operation>รท</button>
          <button class="GridItem" data-number>1</button>
          <button class="GridItem" data-number>2</button>
          <button class="GridItem" data-number>3</button>
          <button class="GridItem" data-operation>*</button>
          <button class="GridItem" data-number>4</button>
          <button class="GridItem" data-number>5</button>
          <button class="GridItem" data-number>6</button>
          <button class="GridItem" data-operation>+</button>
          <button class="GridItem" data-number>7</button>
          <button class="GridItem" data-number>8</button>
          <button class="GridItem" data-number>9</button>
          <button class="GridItem" data-operation>-</button>
          <button class="GridItem" data-number>.</button>
          <button class="GridItem" data-number>0</button>
          <button
            class="GridItem GridItem--SpanTwo"
            data-equals
            class="SpanTwo"
          >
            =
          </button>
        </div>
      </section>
    </div>
  </body>
</html>
