<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <link rel="stylesheet" href="/styles/chess-board.css">

    <script src="/scripts/chess-board.js" defer></script>

    <link rel="icon" type="image/jpg" href="/images/Favicon.jpg">

    <title>Chess-board</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <backdrop-component class="Backdrop"></backdrop-component>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section class="Section">
        <div id="chessboard" class="Chessboard"></div>
      </section>
    </div>
  </body>
</html>
