<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <link rel="icon" type="image/jpg" href="/images/Favicon.jpg">

    <title>Components</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <backdrop-component class="Backdrop"></backdrop-component>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      {% render 'components/text/text', as: 'h1', text: 'Components', variant: 'HeadingLarge' %}

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Text', variant: 'HeadingMedium' %}
        {% render 'components/text/text', as: 'h2', text: 'Heading Large', variant: 'HeadingLarge' %}
        {% render 'components/text/text', as: 'h2', text: 'Heading Medium', variant: 'HeadingMedium' %}
        {% render 'components/text/text', as: 'h2', text: 'Heading Small', variant: 'HeadingSmall' %}
        {% render 'components/text/text', text: 'Body Large', variant: 'BodyLarge' %}
        {% render 'components/text/text', text: 'Body Medium', variant: 'BodyMedium' %}
        {% render 'components/text/text', text: 'Body Small', variant: 'BodySmall' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Input', variant: 'HeadingMedium' %}

        {% render 'components/input/input', full_width: true %}

        {% render 'components/input/input', type: 'password' %}

        {% render 'components/input/input', type: 'number' %}

        {% render 'components/input/input', type: 'number', step: '2', value: '5', min: '1', max: '20' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Button', variant: 'HeadingMedium' %}

        {% render 'components/button/button', text: 'Primary', variant: 'Primary' %}
        {% render 'components/button/button', text: 'Secondary', variant: 'Secondary' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Button Group', variant: 'HeadingMedium' %}

        <div class="ButtonGroup">
          {% render 'components/button/button', text: 'Primary', variant: 'Primary' %}
          {% render 'components/button/button', text: 'Secondary', variant: 'Secondary' %}
        </div>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Accordion', variant: 'HeadingMedium' %}

        {% render 'components/text/text', as: 'h3', text: 'Accordion with HTML and CSS', variant: 'HeadingSmall' %}

        <ul class="u-NoList Accordion">
          {% render 'components/accordion-item/accordion-item',
            label: 'How to create?',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}

          {% render 'components/accordion-item/accordion-item',
            label: 'Where to use?',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}

          {% render 'components/accordion-item/accordion-item',
            label: 'What is accordion?',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}
        </ul>

        {% render 'components/text/text', as: 'h3', text: 'Accordion with HTML, CSS and JS', variant: 'HeadingSmall' %}

        <div class="AccordionJS">
          {% render 'components/accordion-js-item/accordion-js-item',
            label: 'List One',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}

          {% render 'components/accordion-js-item/accordion-js-item',
            label: 'List Two',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}

          {% render 'components/accordion-js-item/accordion-js-item',
            label: 'List Three',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}

          {% render 'components/accordion-js-item/accordion-js-item',
            label: 'List Four',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?'
          %}
        </div>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Link', variant: 'HeadingMedium' %}

        {% render 'components/link/link', text: 'This a link to my google-page', url: '/google-page' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Link Group', variant: 'HeadingMedium' %}

        <ul class="LinkGroup u-NoList">
          <li>
            {% render 'components/link/link', text: 'Link 1', url: '#' %}
          </li>
          <li>
            {% render 'components/link/link', text: 'Link 2', url: '#' %}
          </li>
          <li>
            {% render 'components/link/link', text: 'Link 3', url: '#', external: true %}
          </li>
        </ul>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Icon', variant: 'HeadingMedium' %}

        {% render 'components/icon/icon', icon: 'utensils-crossed' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Icon Group', variant: 'HeadingMedium' %}

        {% assign icon_list = 'leafy-green, utensils-crossed' | split: ', ' %}

        {% render 'components/icon-group/icon-group', icon_list: icon_list %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Icon with Text', variant: 'HeadingMedium' %}

        {% render 'components/icon-with-text/icon-with-text', icon: 'landmark', text: 'Icon with text' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', as: 'h2', text: 'Quantity Selector', variant: 'HeadingMedium' %}

        {% render 'components/quantity-selector/quantity-selector' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Option Value', variant: 'HeadingMedium' %}

        {% render 'components/text/text', text: 'Default', variant: 'HeadingSmall', as: 'h3' %}

        <label class="OptionValue">
          {% render 'components/text/text', text: '10ml', as: 'span' %}

          <input class="u-Hidden" type="radio" name="plain" checked>
        </label>

        {% render 'components/text/text', text: 'Color', variant: 'HeadingSmall', as: 'h3' %}

        <label class="OptionValue OptionValue--Color" style="--color: red">
          <input class="u-Hidden" type="radio" name="color_2" checked>
        </label>

        {% render 'components/text/text', text: 'Size', variant: 'HeadingSmall', as: 'h3' %}

        <label class="OptionValue OptionValue--Size">
          {% render 'components/text/text', text: 'S', as: 'span' %}

          <input class="u-Hidden" type="radio" name="size_1" checked>
        </label>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Option Value Selector', variant: 'HeadingMedium' %}

        <div class="OptionValueSelector">
          {% render 'components/text/text', text: 'Color' %}

          <div class="OptionValueSelector__Values">
            <label class="OptionValue OptionValue--Color" style="--color: red">
              <input class="u-Hidden" type="radio" name="color" checked>
            </label>

            <label class="OptionValue OptionValue--Color" style="--color: blue">
              <input class="u-Hidden" type="radio" name="color">
            </label>

            <label class="OptionValue OptionValue--Color" style="--color: green">
              <input class="u-Hidden" type="radio" name="color">
            </label>
          </div>
        </div>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Product Variant Selector', variant: 'HeadingMedium' %}

        <div class="ProductVariantSelector">
          <div class="OptionValueSelector">
            {% render 'components/text/text', text: 'Color' %}

            <div class="OptionValueSelector__Values">
              <label class="OptionValue OptionValue--Color" style="--color: red">
                <input class="u-Hidden" type="radio" name="color_1" checked>
              </label>

              <label class="OptionValue OptionValue--Color" style="--color: blue">
                <input class="u-Hidden" type="radio" name="color_1">
              </label>

              <label class="OptionValue OptionValue--Color" style="--color: green">
                <input class="u-Hidden" type="radio" name="color_1">
              </label>
            </div>
          </div>

          <div class="OptionValueSelector">
            {% render 'components/text/text', text: 'Size' %}

            <div class="OptionValueSelector__Values">
              <label class="OptionValue OptionValue--Size">
                {% render 'components/text/text', text: 'S', as: 'span' %}

                <input class="u-Hidden" type="radio" name="size" checked>
              </label>

              <label class="OptionValue OptionValue--Size">
                {% render 'components/text/text', text: 'M', as: 'span' %}

                <input class="u-Hidden" type="radio" name="size">
              </label>

              <label class="OptionValue OptionValue--Size">
                {% render 'components/text/text', text: 'L', as: 'span' %}

                <input class="u-Hidden" type="radio" name="size">
              </label>
            </div>
          </div>
        </div>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Image', variant: 'HeadingMedium' %}

        {% render 'components/text/text', text: 'Portrait', variant: 'HeadingSmall', as: 'h3' %}

        {% render 'components/image/image', image: '/images/shop-the-look/shop_the_look-1.jpg', variant: 'Portrait' %}

        {% render 'components/text/text', text: 'Landscape', variant: 'HeadingSmall', as: 'h3' %}

        {% render 'components/image/image', image: '/images/shop-the-look/shop_the_look-2.jpg', variant: 'Landscape' %}

        {% render 'components/text/text', text: 'Square', variant: 'HeadingSmall', as: 'h3' %}

        {% render 'components/image/image', image: '/images/shop-the-look/shop_the_look-3.jpg', variant: 'Square' %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Price List', variant: 'HeadingMedium' %}

        {% render 'components/price-list/price-list', price: 2999, compare_at_price: 4999 %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Product Card', variant: 'HeadingMedium' %}

        {% render 'components/product-card/product-card',
          title: 'Chair',
          image: '/images/shop-the-look/shop_the_look-1.jpg',
          price: 2999,
          compare_at_price: 4999,
          badge: 'New'
        %}

        {% render 'components/product-card/product-card',
          title: 'Table',
          image: '/images/shop-the-look/shop_the_look-2.jpg',
          price: 2999,
          badge: 'Bestseller'
        %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Collection Card', variant: 'HeadingMedium' %}

        {% render 'components/collection-card/collection-card',
          image: '/images/shop-the-look/shop_the_look-2.jpg',
          title: 'Summer 2025'
        %}
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Gallery', variant: 'HeadingMedium' %}

        <div class="Gallery">
          <div class="Gallery__Main">
            <div class="Gallery__Item Gallery__Item--Active">
              {% render 'components/image/image',
                image: '/images/shop-the-look/shop_the_look-1.jpg',
                alt: 'Gallery Image 1'
              %}
            </div>

            <div class="Gallery__Item">
              {% render 'components/image/image',
                image: '/images/shop-the-look/shop_the_look-2.jpg',
                alt: 'Gallery Image 2'
              %}
            </div>

            <div class="Gallery__Item">
              {% render 'components/image/image',
                image: '/images/shop-the-look/shop_the_look-3.jpg',
                alt: 'Gallery Image 3'
              %}
            </div>
          </div>

          <div class="Gallery__Navigation">
            {% render 'components/button/button', variant: 'Icon', action: 'prev', icon: 'square-arrow-left' %}

            <div class="Gallery__Pagination">
              <button class="Gallery__PaginationItem Gallery__PaginationItem--Active">
                {% render 'components/image/image',
                  image: '/images/shop-the-look/shop_the_look-1.jpg',
                  alt: 'Gallery Image 1',
                  variant: 'Square'
                %}
              </button>

              <button class="Gallery__PaginationItem">
                {% render 'components/image/image',
                  image: '/images/shop-the-look/shop_the_look-2.jpg',
                  alt: 'Gallery Image 2',
                  variant: 'Square'
                %}
              </button>

              <button class="Gallery__PaginationItem">
                {% render 'components/image/image',
                  image: '/images/shop-the-look/shop_the_look-3.jpg',
                  alt: 'Gallery Image 3',
                  variant: 'Square'
                %}
              </button>
            </div>

            {% render 'components/button/button', variant: 'Icon', action: 'next', icon: 'square-arrow-right' %}
          </div>
        </div>
      </section>

      <section class="Section Section--Vertical">
        {% render 'components/text/text', text: 'Badge', variant: 'HeadingMedium' %}

        {% render 'components/badge/badge', text: 'Bestseller' %}

        {% render 'components/badge/badge', text: 'New' %}

        {% render 'components/badge/badge', text: 'Sale', variant: 'sale' %}
      </section>
    </div>
  </body>
</html>
