<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <link rel="stylesheet" href="/styles/flag.css">

    <link rel="icon" type="image/jpg" href="/images/Favicon.jpg">

    <title>Flags</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <backdrop-component class="Backdrop"></backdrop-component>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section id="flags" class="Section Section--Vertical">
        <div class="FlagBox FlagBox--Vertical">
          <div class="FlagBar" style="--color: black"></div>
          <div class="FlagBar" style="--color: red"></div>
          <div class="FlagBar" style="--color: gold"></div>
          <img
            class="Bundesadler"
            src="/images/Bundesadler.png"
            alt="Bundesadler"
          >
        </div>

        <div class="FlagBox">
          <div class="FlagBar" style="--color: blue"></div>
          <div class="FlagBar" style="--color: white"></div>
          <div class="FlagBar" style="--color: red"></div>
        </div>

        <div class="FlagBox" style="--color: rgb(27, 77, 185)">
          <div class="CrossVertical"></div>
          <div class="CrossHorizontal"></div>
        </div>

        <div class="FlagBox">
          <div class="FlagBar" style="--color: green; --flex: 0.4"></div>
          <div class="FlagBar" style="--color: red; --flex: 0.6"></div>
          <img
            class="Wappen"
            src="/images/Portugal_Wappen.gif"
            alt="PortugalWappen"
          >
        </div>
      </section>
    </div>
  </body>
</html>
