<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <link rel="stylesheet" href="/styles/flex-box.css">

    <script src="/scripts/flex-box.js" defer></script>

    <link rel="icon" type="image/jpg" href="/images/Favicon.jpg">

    <title>Grid Boxes</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <backdrop-component class="Backdrop"></backdrop-component>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section class="Section">
        <div class="FlexBox">
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">1</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">2</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">3</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">4</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">5</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">6</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">7</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">8</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">9</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">10</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">11</p>
          </div>
          <div class="FlexBox__Item">
            <p class="Text Text--HeadingLarge">12</p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
