<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <link rel="stylesheet" href="/styles/grid-box.css">
    <script src="/scripts/grid-box-items.js" defer></script>

    <title>Grid Boxes</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <backdrop-component class="Backdrop"></backdrop-component>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section class="Section">
        <section class="Container">
          <div class="Item">1</div>
          <div class="Item">2</div>
          <div class="Item">3</div>
          <div class="Item">4</div>
          <div class="Item">5</div>
          <div class="Item">6</div>
          <div class="Item">7</div>
          <div class="Item">8</div>
          <div class="Item">9</div>
          <div class="Item">10</div>
          <div class="Item">11</div>
          <div class="Item">12</div>
        </section>
      </section>
    </div>
  </body>
</html>
