<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/todo.js" defer></script>
    <script src="/scripts/flex-box-items.js" defer></script>
    <script src="/scripts/function.js" defer></script>

    <link rel="icon" type="image/jpg" href="images/Favicon.jpg">
    <title>Bootcamp</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="Backdrop"></div>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section class="Section">
        <h1 title="im a header">Bootcamp</h1>
      </section>

      <section class="Section">
        <section class="Container">
          <div class="Item">1</div>
          <div class="Item">2</div>
          <div class="Item">3</div>
          <div class="Item">4</div>
          <div class="Item">5</div>
          <div class="Item">6</div>
          <div class="Item">7</div>
          <div class="Item">8</div>
          <div class="Item">9</div>
          <div class="Item">10</div>
          <div class="Item">11</div>
          <div class="Item">12</div>
        </section>
      </section>

      <section id="idcards" class="Section">
        <div class="Box">
          <div class="Box__Header">
            <div class="Circle"><span>M.M.</span></div>
            <p class="Text">Max Mustermann</p>
          </div>
          <p class="Text">Lorem ipsum dolor sit fuller words.</p>
        </div>
      </section>

      <section class="Section">
        <div class="Box">
          <div class="Box__Header">
            <div class="Circle">
              <img class="Norman" src="images/norman.jpeg" alt="Norman">
            </div>
            <p class="Text">Norman Ritter</p>
          </div>
          <p class="Text">Was ist mit die Fische?</p>
        </div>
      </section>

      <section class="Section Section--Vertical">
        <form class="ToDoForm">
          <input class="Input" type="text" name="" id="to-do-input">
          <button id="to-do-save-button" class="Button Button--Primary">Save</button>
        </form>
      </section>

      <section class="Section Section--Vertical">
        <ul class="u-NoList Accordion">
          <div class="AccordionWrapper">
            <li>
              <label>
                <p class="Text">How to create?</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-plus-icon lucide-plus"
                >
                  <path d="M5 12h14"/><path d="M12 5v14"/>
                </svg>
                <input type="checkbox">
              </label>
              <div class="AccordionContent">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                  distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?
                </p>
              </div>
            </li>

            <li>
              <label>
                <p class="Text">Where to use?</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-plus-icon lucide-plus"
                >
                  <path d="M5 12h14"/><path d="M12 5v14"/>
                </svg>
                <input type="checkbox">
              </label>
              <div class="AccordionContent">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                  distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?
                </p>
              </div>
            </li>

            <li>
              <label>
                <p class="Text">What is accordion?</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-plus-icon lucide-plus"
                >
                  <path d="M5 12h14"/><path d="M12 5v14"/>
                </svg>
                <input type="checkbox">
              </label>
              <div class="AccordionContent">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab
                  distinctio iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?
                </p>
              </div>
            </li>
          </div>
        </ul>
      </section>

      <section class="Section">
        <div class="AccordionWrapper">
          <div class="AccordionJS__Box">
            <button class="AccordionJS__Label">List One</button>

            <div class="AccordionJS__Content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem reiciendis explicabo voluptate
                culpa neque. Quos velit quam ullam consequatur officia eius expedita aliquam ipsa! Quasi quidem cum vel
                distinctio!
              </p>
            </div>
          </div>

          <div class="AccordionJS__Box">
            <button class="AccordionJS__Label">List Two</button>

            <div class="AccordionJS__Content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem reiciendis explicabo voluptate
                culpa neque. Quos velit quam ullam consequatur officia eius expedita aliquam ipsa! Quasi quidem cum vel
                distinctio!
              </p>
            </div>
          </div>

          <div class="AccordionJS__Box">
            <button class="AccordionJS__Label">List Three</button>

            <div class="AccordionJS__Content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem reiciendis explicabo voluptate
                culpa neque. Quos velit quam ullam consequatur officia eius expedita aliquam ipsa! Quasi quidem cum vel
                distinctio!
              </p>
            </div>
          </div>

          <div class="AccordionJS__Box">
            <button class="AccordionJS__Label">List Four</button>

            <div class="AccordionJS__Content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem reiciendis explicabo voluptate
                culpa neque. Quos velit quam ullam consequatur officia eius expedita aliquam ipsa! Quasi quidem cum vel
                distinctio!
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
