<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}
    {% include 'partials/global-scripts.html' %}

    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/todo.js" defer></script>
    <script src="/scripts/function.js" defer></script>

    <link rel="icon" type="image/jpg" href="images/Favicon.jpg">
    <title>Bootcamp</title>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <backdrop-component class="Backdrop"></backdrop-component>

    {% include 'partials/drawers.html' %}

    <div class="PageContent">
      <section class="Section">
        <h1 class="Text Text--HeadingLarge" title="im a header">Bootcamp</h1>
      </section>
      </section>

      <section class="Section Section--Vertical">
        <form class="ToDoForm">
          <input class="Input Input--FullWidth" type="text" name="" id="to-do-input">
          <button id="to-do-save-button" class="Button Button--Primary">Save</button>
        </form>
      </section>

      {% render 'components/product-card/product-card',
        title: "Some Product",
        image: "https://via.placeholder.com/150",
        price: 9999,
      %}
    </div>
  </body>
</html>
