<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "partials/style-imports.html" %} 
    {% include "partials/global-scripts.html" %}

    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/todo.js" defer></script>
    <script src="/scripts/cat-api.js" defer></script>
    <script src="/scripts/copy-buttons.js" defer></script>
    <script src="/scripts/flex-box-items.js" defer></script>
    <script src="/scripts/function.js" defer></script>
    <script src="/scripts/google-search.js" defer></script>
    <script src="/scripts/shop-the-look.js" defer></script>

    <link rel="icon" type="image/jpg" href="images/Favicon.jpg" />
    <title>Bootcamp</title>
  </head>
  <body>
    {% include "partials/header.html" %}

    <div class="Backdrop"></div>

    {% include "partials/drawers.html" %}

    <div class="PageContent">
      <section class="Section">
        <h1 title="im a header">Bootcamp</h1>
      </section>

      <div id="buttons" class="Section">
        <h2>Buttons</h2>

        <div class="ButtonGroup">
          <button id="copy-button" class="Button Button--Primary">
            Primary
          </button>
          <button id="remove-button" class="Button Button--Secondary">
            Secondary
          </button>
        </div>
      </div>

      <section class="Section">
        <section class="Container">
          <div class="Item">1</div>
          <div class="Item">2</div>
          <div class="Item">3</div>
          <div class="Item">4</div>
          <div class="Item">5</div>
          <div class="Item">6</div>
          <div class="Item">7</div>
          <div class="Item">8</div>
          <div class="Item">9</div>
          <div class="Item">10</div>
          <div class="Item">11</div>
          <div class="Item">12</div>
        </section>
      </section>

      <section id="idcards" class="Section">
        <div class="Box">
          <div class="Box__Header">
            <div class="Circle"><span>M.M.</span></div>
            <p class="Text">Max Mustermann</p>
          </div>
          <p class="Text">Lorem ipsum dolor sit fuller words.</p>
        </div>
      </section>

      <section class="Section">
        <div class="Box">
          <div class="Box__Header">
            <div class="Circle">
              <img class="Norman" src="images/norman.jpeg" alt="Norman" />
            </div>
            <p class="Text">Norman Ritter</p>
          </div>
          <p class="Text">Was ist mit die Fische?</p>
        </div>
      </section>

      <section id="flags" class="Section Section--Vertical">
        <div class="FlagBox FlagBox--Vertical">
          <div class="FlagBar" style="--color: black"></div>
          <div class="FlagBar" style="--color: red"></div>
          <div class="FlagBar" style="--color: gold"></div>
          <img
            class="Bundesadler"
            src="images/Bundesadler.png"
            alt="Bundesadler"
          />
        </div>

        <div class="FlagBox">
          <div class="FlagBar" style="--color: blue"></div>
          <div class="FlagBar" style="--color: white"></div>
          <div class="FlagBar" style="--color: red"></div>
        </div>

        <div class="FlagBox" style="--color: rgb(27, 77, 185)">
          <div class="CrossVertical"></div>
          <div class="CrossHorizontal"></div>
        </div>

        <div class="FlagBox">
          <div class="FlagBar" style="--color: green; --flex: 0.4"></div>
          <div class="FlagBar" style="--color: red; --flex: 0.6"></div>
          <img
            class="Wappen"
            src="images/Portugal_Wappen.gif"
            alt="PortugalWappen"
          />
        </div>
      </section>

      <section class="Section">
        <div class="GooglePage">
          <img class="GoogleLogo" src="images/Google.png" alt="GoogleLogo" />
          <div class="SearchBox">
            <div class="InputWrapper">
              <input
                id="google-input"
                type="text"
                class="Input Input--Search"
                placeholder="Google-Suche"
              />
              <svg
                class="GoogleLens"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="grey"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-search-icon lucide-search"
              >
                <path d="m21 21-4.34-4.34" />
                <circle cx="11" cy="11" r="8" />
              </svg>
            </div>
          </div>

          <div class="GoogleButtons">
            <button id="google-search-button">Google-Suche</button>
            <button>Auf gut Glück!</button>
          </div>
        </div>
      </section>

      <section class="Section Section--Vertical">
        <div class="ButtonGroup">
          <button id="get-cat-image" class="Button Button--Primary">
            Get cat image
          </button>
          <button id="remove-cat-image" class="Button Button--Secondary">
            Remove cat image
          </button>
        </div>
        <input
          id="image-count"
          class="Input Input--Count"
          type="number"
          value="1"
          max="9"
          min="1"
        />
      </section>

      <section class="Section Section--Vertical">
        <div class="Carousel">
          <button data-action="prev" class="Button--Icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-left-icon lucide-chevron-left"
            >
              <path d="m15 18-6-6 6-6" />
            </svg>
          </button>

          <div class="ShopTheLook ShopTheLook--Active">
            <img
              class="ShopTheLook__Image"
              src="images/shop-the-look/shop_the_look-1.jpg"
              alt="shop_the_look-1"
            />

            <button
              class="Indicator"
              style="--x-position: 25; --y-position: 25"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>

            <button
              class="Indicator"
              style="--x-position: 50; --y-position: 50"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
            <button
              class="Indicator"
              style="--x-position: 75; --y-position: 75"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
          </div>

          <div class="ShopTheLook">
            <img
              class="ShopTheLook__Image"
              src="images/shop-the-look/shop_the_look-2.jpg"
              alt="shop_the_look-1"
            />

            <button
              class="Indicator"
              style="--x-position: 25; --y-position: 25"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
            <button
              class="Indicator"
              style="--x-position: 50; --y-position: 50"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
            <button
              class="Indicator"
              style="--x-position: 75; --y-position: 75"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
          </div>

          <div class="ShopTheLook">
            <img
              class="ShopTheLook__Image"
              src="images/shop-the-look/shop_the_look-3.jpg"
              alt="shop_the_look-1"
            />

            <button
              class="Indicator"
              style="--x-position: 25; --y-position: 25"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
            <button
              class="Indicator"
              style="--x-position: 50; --y-position: 50"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
            <button
              class="Indicator"
              style="--x-position: 75; --y-position: 75"
            ></button>
            <div class="PopUp">
              <img
                class="PopUp__Image"
                src="images/shop-the-look/shop_the_look-1.jpg"
                alt="image"
              />
              <button class="CloseButton">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
              <div class="PopUp__Details">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Facilis nesciunt ipsum ducimus voluptatum laboriosam eum
                </p>
                <div class="PriceList">
                  <del>49,99€</del>
                  <p>39,99€</p>
                </div>
                <button class="Button Button--Primary">To product</button>
              </div>
            </div>
          </div>

          <button data-action="next" class="Button--Icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-right-icon lucide-chevron-right"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
        </div>

        <div class="Pagination">
          <div class="Pagination__Item Pagination__Item--Active"></div>
          <div class="Pagination__Item"></div>
          <div class="Pagination__Item"></div>
        </div>

        <div class="Controls">
          <input type="range" name="x-position" id="" min="0" max="100" />
          <input type="range" name="y-position" id="" min="0" max="100" />
        </div>

        <button id="save-indicators" class="Button Button--Primary">
          Save indicator position
        </button>
      </section>

      <section class="Section Section--Vertical">
        <form class="ToDoForm">
          <input class="Input" type="text" name="" id="to-do-input" />
          <button id="to-do-save-button" class="Button Button--Primary">
            Save
          </button>
        </form>
      </section>
    </div>
  </body>
</html>
