:root {
  --text-color-bright: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.u-NoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 400px) {
  .u-HiddenDesktop {
    display: none !important;
  }
}

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  background-color: rgb(46, 46, 46);
  color: var(--text-color-bright);
  font-family: arial;
  margin: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.SiteHeader {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(27, 23, 23);
  border-bottom: 2px solid white;
}

.Drawer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: grey;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.Drawer--Left {
  transform: translateX(-100%);
}

.Drawer--Right {
  transform: translateX(100%);
  right: 0;
}

.Drawer--Active {
  transform: translateX(0);
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
}

.NavigationBar ul {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 23, 23);
}

.NavigationBar {
  display: none;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .NavigationBar {
    display: block;
  }
}

.Link {
  color: var(--text-color-bright);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  padding: 0 16px;
}

.NavigationBar li:not(:last-child) {
  border-right: 1px solid white;
}

.Link:hover {
  color: rgb(158, 158, 158);
  text-decoration: underline;
}

.PageContent {
  padding: 32px 16px;
}

@media screen and (min-width: 400px) {
  .PageContent {
    padding: 64px 32px;
  }
}

.Section {
  padding: 24px 0;
}

.Section--Vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 280px;
}

.Button {
  padding: 16px 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 12px;
  transition: 0.5s;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: arial;
  font-size: large;
}

.Button--Primary {
  color: rgb(46, 46, 46);
}

.Button--Secondary {
  background-color: rgb(46, 46, 46);
  color: var(--text-color-bright);
}

.Button--Icon {
  color: white;
  padding: 4px;
}

.Button:hover {
  color: red;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: larger;
}

.Container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.Item {
  color: red;
  width: 100px;
  height: 100px;
  background-color: green;
  padding: 32px 32px 32px;
  border: 4px solid black;
  cursor: pointer;
}

.Item--Inverted {
  color: green;
  background-color: red;
}

.Box {
  border-radius: 48px;
  background-color: rgb(136, 130, 130);
  padding: 32px 32px;
  color: black;
  font-size: large;
  width: 100%;
  transition: 0.5s;
}

.Box:hover {
  transform: scale(98%);
}

.Circle {
  width: 64px;
  aspect-ratio: 1;
  background-color: rgb(143, 13, 13);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Box__Header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.Norman {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FlagBox {
  display: flex;
  width: 100%;
  aspect-ratio: 2/1;
  position: relative;
  overflow: hidden;
  border: 4px solid black;
  background-color: var(--color);
}

.FlagBox--Vertical {
  flex-direction: column;
}

.FlagBar {
  flex: var(--flex, 1);
  background-color: var(--color);
}

.Bundesadler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
}

.CrossVertical {
  position: absolute;
  background-color: yellow;
  top: 0;
  left: 30%;
  height: 100%;
  width: 10%;
}

.CrossHorizontal {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: yellow;
}

.Wappen {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 25%;
  aspect-ratio: 1;
}

.Chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 4px solid black;
}

.Square {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

@media screen and (min-width: 400px) {
  .Square {
    font-size: 48px;
  }
}

.Square--White {
  background-color: lightgray;
}

.Square--Black {
  background-color: brown;
}

.GooglePage {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: white;
}

.GoogleLogo {
  width: 272px;
  margin-bottom: 30px;
}

.SearchBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SearchInput {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  background-color: #fff;
  margin-bottom: 20px;
  outline: none;
}

.InputWrapper {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 60px;
}

.GoogleLens {
  position: absolute;
  top: 35%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.SearchInput:hover {
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
}

.GoogleButtons {
  display: flex;
  gap: 10px;
}

.GoogleButtons button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
}

.GoogleButtons button:hover {
  border: 1px solid #c6c6c6;
}

.CatImage {
  width: 100%;
  max-width: 500px;
}
