:root {
  --text-color-primary: rgb(0, 0, 0);
  --background-primary: rgb(179, 179, 179);
  --background-secondary: rgb(255, 255, 255);
  --border: rgb(0, 0, 0);
  --icon: rgb(0, 0, 0);
  --button-primary-text: rgb(255, 255, 255);
  --button-primary-background: rgb(0, 0, 0);
  --button-secondary-text: rgb(0, 0, 0);
  --button-secondary-background: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: rgb(255, 255, 255);
    --background-primary: rgb(46, 46, 46);
    --background-secondary: rgb(27, 23, 23);
    --border: rgb(255, 255, 255);
    --icon: rgb(255, 255, 255);
    --button-primary-text: rgb(0, 0, 0);
    --button-primary-background: rgb(255, 255, 255);
    --button-secondary-text: rgb(255, 255, 255);
    --button-secondary-background: rgb(0, 0, 0);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.u-NoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 400px) {
  .u-HiddenDesktop {
    display: none !important;
  }
}

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  background-color: var(--background-primary);
  color: var(--text-color-primary);
  font-family: arial;
  margin: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.SiteHeader {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-secondary);
  border-bottom: 2px solid var(--border);
}

.Backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: none;
  background-color: rgb(0, 0, 0, 0.25);
}

.Backdrop--Active {
  display: block;
}

.Drawer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: var(--background-secondary);
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.Drawer--Left {
  transform: translateX(-100%);
}

.Drawer--Right {
  transform: translateX(100%);
  right: 0;
}

.Drawer--Active {
  transform: translateX(0);
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
}

.NavigationBar ul {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavigationBar {
  display: none;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .NavigationBar {
    display: block;
  }
}

.Link {
  color: var(--text-color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  padding: 0 16px;
}

.NavigationBar li:not(:last-child) {
  border-right: 1px solid var(--border);
}

.Link:hover {
  color: rgb(158, 158, 158);
  text-decoration: underline;
}

.PageContent {
  padding: 32px 16px;
}

@media screen and (min-width: 400px) {
  .PageContent {
    padding: 64px 32px;
  }
}

.Section {
  padding: 24px 0;
}

.Section--Vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 280px;
}

.Button {
  padding: 16px 32px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 12px;
  transition: 0.5s;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: arial;
  font-size: large;
}

.Button--Primary {
  color: var(--button-primary-text);
  background-color: var(--button-primary-background);
}

.Button--Secondary {
  color: var(--button-secondary-text);
  background-color: var(--button-secondary-background);
}

.Button--Icon {
  color: var(--icon);
  padding: 4px;
}

.Button:hover {
  color: red;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: larger;
}

.Container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.Item {
  color: red;
  width: 100px;
  height: 100px;
  background-color: green;
  padding: 32px 32px 32px;
  border: 4px solid black;
  cursor: pointer;
}

.Item--Inverted {
  color: green;
  background-color: red;
}

.Box {
  border-radius: 48px;
  background-color: var(--background-secondary);
  padding: 32px 32px;
  color: var(--text-color-primary);
  font-size: large;
  width: 100%;
  transition: 0.5s;
}

.Box:hover {
  transform: scale(98%);
}

.Circle {
  width: 64px;
  aspect-ratio: 1;
  background-color: rgb(143, 13, 13);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Box__Header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.Norman {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FlagBox {
  display: flex;
  width: 100%;
  aspect-ratio: 2/1;
  position: relative;
  overflow: hidden;
  border: 4px solid black;
  background-color: var(--color);
}

.FlagBox--Vertical {
  flex-direction: column;
}

.FlagBar {
  flex: var(--flex, 1);
  background-color: var(--color);
}

.Bundesadler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
}

.CrossVertical {
  position: absolute;
  background-color: yellow;
  top: 0;
  left: 30%;
  height: 100%;
  width: 10%;
}

.CrossHorizontal {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: yellow;
}

.Wappen {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 25%;
  aspect-ratio: 1;
}

.Chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 4px solid black;
}

.Square {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

@media screen and (min-width: 400px) {
  .Square {
    font-size: 48px;
  }
}

.Square--White {
  background-color: lightgray;
}

.Square--Black {
  background-color: brown;
}

.GooglePage {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: white;
}

.GoogleLogo {
  width: 272px;
  margin-bottom: 30px;
}

.SearchBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.InputWrapper {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 60px;
}

.GoogleLens {
  position: absolute;
  top: 35%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.GoogleButtons {
  display: flex;
  gap: 10px;
}

.GoogleButtons button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
}

.GoogleButtons button:hover {
  border: 1px solid #c6c6c6;
}

.CatImage {
  width: 100%;
  max-width: 500px;
}

.Input {
  height: 40px;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  background-color: #fff;
  outline: none;
}

.Input:hover {
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
}

.Input--Search {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 40px;
}

.Input--Count {
  max-width: 8ch;
  padding: 0 20px;
}

.CalculatorGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, minmax(auto, 100px));
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.GridItem {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0;
}

.GridItem:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.GridItem--SpanTwo {
  grid-column: span 2;
}

.Output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.Output .PreviousOperand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.Output .CurrentOperand {
  color: white;
  font-size: 2.5rem;
}

.ShopTheLook {
  position: relative;
  display: none;
}

.ShopTheLook--Active {
  display: block;
}

.ShopTheLook__Image {
  width: 100%;
  display: block;
}

.Indicator {
  position: absolute;
  width: 16px;
  aspect-ratio: 1;
  background-color: rgb(255, 255, 255, 0.75);
  top: calc(var(--y-position) * 1%);
  left: calc(var(--x-position) * 1%);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  animation: pulse 1s infinite alternate;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
}

.Indicator--Active {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

@keyframes pulse {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.Controls {
  display: none;
  justify-content: center;
}

.Section:has(.Indicator--Active) .Controls {
  display: flex;
}

.Carousel {
  display: flex;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Pagination__Item {
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.Pagination__Item--Active {
  opacity: 1;
  transform: scale(1.1);
}
