:root {
  --border-radius: 8px;

  --text-color-primary: rgb(0, 0, 0);

  --background-primary: rgb(179, 179, 179);
  --background-secondary: rgb(255, 255, 255);

  --border: rgb(0, 0, 0);

  --icon: rgb(0, 0, 0);
  --icon-destructive: rgb(255, 0, 0);
  --icon-success: rgb(0, 128, 0);
  --icon-warning: rgb(255, 165, 0);

  --button-primary-text: rgb(255, 255, 255);
  --button-primary-text-hover: rgb(211, 211, 211);
  --button-primary-background: rgb(0, 0, 0);
  --button-primary-background-hover: rgb(63, 63, 63);
  --button-secondary-text: rgb(0, 0, 0);
  --button-secondary-text-hover: rgb(61, 61, 61);
  --button-secondary-background: rgb(255, 255, 255);
  --button-secondary-background-hover: rgb(187, 187, 187);

  --link-color: rgb(54, 54, 54);
  --link-color-hover: rgb(11, 95, 252);

  --surface-success: rgb(175, 253, 175);

  --sale-color: rgb(182, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: rgb(228, 228, 228);
    --text-color-secondary: rgb(0, 0, 0);

    --background-primary: rgb(46, 46, 46);
    --background-secondary: rgb(27, 23, 23);

    --border: rgb(255, 255, 255);

    --icon: rgb(255, 255, 255);
    --icon-destructive: rgb(255, 0, 0);
    --icon-success: rgb(0, 255, 0);
    --icon-warning: rgb(255, 165, 0);

    --button-primary-text: rgb(0, 0, 0);
    --button-primary-text-hover: rgb(43, 43, 43);
    --button-primary-background: rgb(255, 255, 255);
    --button-primary-background-hover: rgb(189, 189, 189);
    --button-secondary-text: rgb(255, 255, 255);
    --button-secondary-text-hover: rgb(194, 194, 194);
    --button-secondary-background: rgb(0, 0, 0);
    --button-secondary-background-hover: rgb(53, 53, 53);

    --link-color: rgb(209, 209, 209);
    --link-color-hover: rgb(11, 95, 252);

    --surface-success: rgb(0, 43, 0);

    --sale-color: rgb(255, 65, 65);
  }
}

.CloseButton {
  color: var(--icon);
  position: absolute;
  top: 0;
  right: 0;
}

.ToDoForm {
  display: flex;
  gap: 16px;
  align-items: center;
}
