{% doc %}
  Button Group

  @param {string} text - Button text
  @param {string} variant - Button variant ('Primary', 'Secondary')
{% enddoc %}

<div class="ButtonGroup">
  <button class="Button{% if variant %} Button--{{ variant }}{% endif %}">
    {{ text }}
  </button>

  <button class="Button{% if variant %} Button--{{ variant }}{% endif %}">
    {{ text }}
  </button>
</div>
