{% doc %}
  Product Card

  @param {string} title - Product title
  @param {string} image_url - Product image URL
  @param {number | string} price - Product price in cents
  @param {number | string} [compare_at_price] - Product compare at price in cents
  @param {string} [badge] - Optional product badge
{% enddoc %}

<article class="ProductCard">
  <div class="ProductCard__Image">
    <div class="Image Image--Square">
      <img class="Image__Inner" src="{{ image }}" alt="">
    </div>

    <div class="ProductCard__Badges">
      {% assign badge_list = badge %}

      {% if compare_at_price > price %}
        {% assign badge_list = badge_list | append: ',' | append: 'Sale' %}
      {% endif %}

      {% assign badge_list = badge_list | split: ',' %}

      {% if badge_list.size > 0 %}
        {% render 'components/badge-group/badge-group', badge_list: badge_list %}
      {% endif %}
    </div>
  </div>

  <p class="Text Text--BodyLarge">{{ title }}</p>

  {% render 'components/price-list/price-list', price: price, compare_at_price: compare_at_price %}
</article>
