{% doc %}
  Accordion

  @param {string} text - Button text
  @param {string} variant - Button variant ('Primary', 'Secondary')
{% enddoc %}

<ul class="u-NoList Accordion">
  <li>
    <label>
      <p class="Text Text--BodyLarge">How to create?</p>
      <div class="Icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14"/><path d="M12 5v14"/>
        </svg>
      </div>
      <input class="u-Hidden" type="checkbox">
    </label>
    <div class="Accordion__Content u-NoScrollbar">
      <p class="Text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab distinctio
        iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?
      </p>
    </div>
  </li>

  <li>
    <label>
      <p class="Text Text--BodyLarge">Where to use?</p>
      <div class="Icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14"/><path d="M12 5v14"/>
        </svg>
      </div>
      <input class="u-Hidden" type="checkbox">
    </label>
    <div class="Accordion__Content u-NoScrollbar">
      <p class="Text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab distinctio
        iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?
      </p>
    </div>
  </li>

  <li>
    <label>
      <p class="Text Text--BodyLarge">What is accordion?</p>
      <div class="Icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14"/><path d="M12 5v14"/>
        </svg>
      </div>
      <input class="u-Hidden" type="checkbox">
    </label>
    <div class="Accordion__Content u-NoScrollbar">
      <p class="Text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta dignissimos error cumque ab distinctio
        iusto, adipisci ea, dolorem molestiae culpa rerum sint vel recusandae?
      </p>
    </div>
  </li>
</ul>
