{% doc %}
  Price List

  @param {string} price - Price in cents
  @param {string} compare_at_price - Compare at price in cents
{% enddoc %}

<div class="PriceList">
  <del class="Text Text--BodySmall">{{ price }}</del>
  <strong class="Text">{{ compare_at_price }}</strong>
</div>
