{% doc %}
  Price List

  @param {string} price - Price in cents
  @param {string} compare_at_price - Compare at price in cents
{% enddoc %}

<div class="PriceList">
  {{ price }}
  {{ compare_at_price }}
</div>
