.PopUp {
  display: none;
  gap: 16px;
  width: 75%;
  padding: 20px;
  border: 1px solid var(--border);
  background-color: var(--background-secondary);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.PopUp--Active {
  display: flex;
}

.PopUp__Details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.PopUp__Image {
  flex-shrink: 0;
  width: 120px;
  aspect-ratio: 2/3;
  object-fit: cover;
}
