.ShopTheLook {
  position: relative;
  display: none;
}

.ShopTheLook--Active {
  display: block;
}

.ShopTheLook__Image {
  width: 100%;
  display: block;
}

.Indicator {
  position: absolute;
  width: 16px;
  aspect-ratio: 1;
  background-color: rgb(255, 255, 255, 0.75);
  top: calc(var(--y-position) * 1%);
  left: calc(var(--x-position) * 1%);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  animation: pulse 1s infinite alternate;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
}

.Indicator--Active {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

@keyframes pulse {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.Controls {
  display: none;
  justify-content: center;
}

.Section:has(.Indicator--Active) .Controls {
  display: flex;
}

.Carousel {
  display: flex;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Pagination__Item {
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.Pagination__Item--Active {
  opacity: 1;
  transform: scale(1.1);
}
